body{
  max-width: 1000px;
  height: 500px;
  padding: 30px;
  font-family: sans-serif;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  flex-flow: row wrap;
  flex: 1 1 200px;
}
h1,h2{
  font-weight: lighter;
}
.block{
  max-height: 800px;
  max-width: 500px;
}
.block__2{
  max-height: 800px;
  max-width: 500px;
  justify-content: flex-start;
}
.pic{
  width: 450px;
  height: 313px;
  padding: 0px 20px 15px 0px;
}
.pic__2{
  width: 450px;
  height: 313px;
  padding: 0px 20px 15px 0px;
  justify-content: flex-end;
}